In [18]:
import pandas as pd
import seaborn as sns

In [20]:
df = pd.read_csv('dirty_cafe_sales.csv')

In [21]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [22]:
df.shape

(10000, 8)

In [25]:
df.isnull().mean()*100

Transaction ID       0.00
Item                 3.33
Quantity             1.38
Price Per Unit       1.79
Total Spent          1.73
Payment Method      25.79
Location            32.65
Transaction Date     1.59
dtype: float64

In [27]:
df.Item.value_counts(ascending = False)

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [28]:
df.dropna(subset=['Item','Quantity','Price Per Unit', 'Total Spent', 'Transaction Date'], inplace=True)

In [29]:
df.shape

(9059, 8)

In [30]:
df['Payment Method'].value_counts()

Payment Method
Digital Wallet    2085
Cash              2049
Credit Card       2048
ERROR              289
UNKNOWN            266
Name: count, dtype: int64

In [31]:
df['Payment Method'] =  df['Payment Method'].fillna('UNKNOWN')

In [32]:
df['Payment Method'].value_counts()

Payment Method
UNKNOWN           2588
Digital Wallet    2085
Cash              2049
Credit Card       2048
ERROR              289
Name: count, dtype: int64

In [34]:
df['Payment Method'] = df['Payment Method'].replace('ERROR','UNKNOWN')

In [35]:
df['Payment Method'].value_counts()

Payment Method
UNKNOWN           2877
Digital Wallet    2085
Cash              2049
Credit Card       2048
Name: count, dtype: int64

In [36]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method         0
Location            2959
Transaction Date       0
dtype: int64

In [38]:
df.Location.value_counts()

Location
Takeaway    2740
In-store    2728
ERROR        327
UNKNOWN      305
Name: count, dtype: int64

In [39]:
df['Location'] =  df['Location'].fillna('UNKNOWN')

In [40]:
df['Location'] = df['Location'].replace('ERROR','UNKNOWN')

In [41]:
df.Location.value_counts()

Location
UNKNOWN     3591
Takeaway    2740
In-store    2728
Name: count, dtype: int64

In [43]:
df.Item.value_counts()

Item
Juice       1121
Coffee      1097
Salad       1084
Cake        1066
Sandwich    1056
Smoothie    1023
Cookie      1016
Tea         1011
UNKNOWN      314
ERROR        271
Name: count, dtype: int64

In [44]:
df['Item'] = df['Item'].replace('ERROR','UNKNOWN')

In [45]:
df.Item.value_counts()

Item
Juice       1121
Coffee      1097
Salad       1084
Cake        1066
Sandwich    1056
Smoothie    1023
Cookie      1016
Tea         1011
UNKNOWN      585
Name: count, dtype: int64

In [46]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [47]:
df.Quantity.value_counts()

Quantity
5          1853
2          1812
4          1697
1          1694
3          1691
UNKNOWN     158
ERROR       154
Name: count, dtype: int64

In [48]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9059 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9059 non-null   object
 1   Item              9059 non-null   object
 2   Quantity          9059 non-null   object
 3   Price Per Unit    9059 non-null   object
 4   Total Spent       9059 non-null   object
 5   Payment Method    9059 non-null   object
 6   Location          9059 non-null   object
 7   Transaction Date  9059 non-null   object
dtypes: object(8)
memory usage: 637.0+ KB

In [50]:
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].replace('ERROR', 'UNKNOWN')

In [51]:
df.Quantity.value_counts()

Quantity
5          1853
2          1812
4          1697
1          1694
3          1691
UNKNOWN     312
Name: count, dtype: int64

In [53]:
df.Quantity = pd.to_numeric(df.Quantity, errors = 'coerce')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9059 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9059 non-null   object
 1   Item              9059 non-null   object
 2   Quantity          8747 non-null   float64
 3   Price Per Unit    9059 non-null   object
 4   Total Spent       9059 non-null   object
 5   Payment Method    9059 non-null   object
 6   Location          9059 non-null   object
 7   Transaction Date  9059 non-null   object
dtypes: float64(1), object(7)
memory usage: 637.0+ KB

In [55]:
df.isnull().sum()

Transaction ID        0
Item                  0
Quantity            312
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date      0
dtype: int64

In [56]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,UNKNOWN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [62]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors = 'coerce')

In [63]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')

In [64]:
df.isnull().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit      319
Total Spent         301
Payment Method        0
Location              0
Transaction Date      0
dtype: int64

In [65]:
df.dropna(inplace=True)

In [66]:
df.shape

(8137, 8)

In [67]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8137 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    8137 non-null   object
 1   Item              8137 non-null   object
 2   Quantity          8137 non-null   float64
 3   Price Per Unit    8137 non-null   float64
 4   Total Spent       8137 non-null   float64
 5   Payment Method    8137 non-null   object
 6   Location          8137 non-null   object
 7   Transaction Date  8137 non-null   object
dtypes: float64(3), object(5)
memory usage: 572.1+ KB

In [72]:
df.duplicated().sum()

0

In [79]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [81]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [75]:
df.dropna(inplace=True)

In [76]:
df['Transaction Date'] = df['Transaction Date'].dt.strftime('%Y-%m-%d')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7893 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    7893 non-null   object
 1   Item              7893 non-null   object
 2   Quantity          7893 non-null   float64
 3   Price Per Unit    7893 non-null   float64
 4   Total Spent       7893 non-null   float64
 5   Payment Method    7893 non-null   object
 6   Location          7893 non-null   object
 7   Transaction Date  7893 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 555.0+ KB

In [82]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,UNKNOWN,2023-03-31

In [83]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [84]:
df.columns

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date'],
      dtype='object')

In [85]:
df.head()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,UNKNOWN,2023-03-31

In [86]:
df.quantity = df.quantity.astype(int)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7893 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    7893 non-null   object
 1   item              7893 non-null   object
 2   quantity          7893 non-null   int32
 3   price_per_unit    7893 non-null   float64
 4   total_spent       7893 non-null   float64
 5   payment_method    7893 non-null   object
 6   location          7893 non-null   object
 7   transaction_date  7893 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int32(1), object(4)
memory usage: 524.1+ KB

In [94]:
df.isnull().sum()

transaction_id      0
item                0
quantity            0
price_per_unit      0
total_spent         0
payment_method      0
location            0
transaction_date    0
dtype: int64

In [88]:
exclude_cols = ['transaction_id', 'quantity', 'price_per_unit', 'total_spent', 'transaction_date']

In [89]:
cols_to_encode = [col for col in df.columns if col not in exclude_cols and df[col].dtype == 'object']

In [90]:
cols_to_encode

['item', 'payment_method', 'location']

In [91]:
df_encoded = pd.get_dummies(df, columns=cols_to_encode, drop_first=True)

In [93]:
df_encoded.head()

,transaction_id,quantity,price_per_unit,total_spent,transaction_date,item_Coffee,item_Cookie,item_Juice,item_Salad,item_Sandwich,item_Smoothie,item_Tea,item_UNKNOWN,payment_method_Credit Card,payment_method_Digital Wallet,payment_method_UNKNOWN,location_Takeaway,location_UNKNOWN
0,TXN_1961373,2,2.0,4.0,2023-09-08,True,False,False,False,False,False,False,False,True,False,False,True,False
1,TXN_4977031,4,3.0,12.0,2023-05-16,False,False,False,False,False,False,False,False,False,False,False,False,False
3,TXN_7034554,2,5.0,10.0,2023-04-27,False,False,False,True,False,False,False,False,False,False,True,False,True
4,TXN_3160411,2,2.0,4.0,2023-06-11,True,False,False,False,False,False,False,False,False,True,False,False,False
5,TXN_2602893,5,4.0,20.0,2023-03-31,False,False,False,False,False,True,False,False,True,False,False,False,True